body {
    margin: 0;
    line-height: normal;
    font-family:'Inter';
    }

.header {
        width: 100%;
        position: relative;
        background-color: rgba(184, 91, 176, 0.5);
        border-bottom: 1px solid #d9d9d9;
        box-sizing: border-box;
        height: 104px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        padding: 32px;
        gap: 0px 24px;
        text-align: left;
        font-size: 16px;
        color: #1e1e1e;
    }
    
    .logo-icon {
        width: 89px;
        position: relative;
        border-radius: 50.5px;
        height: 89px;
        object-fit: cover;
    }
    
  .navigation-pill-list {
        flex: 1;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 8px;
    }
            .navigation-pill {
                border-radius: 8px;
                background-color: #fff;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 8px;
            }
            .navigation-pill-list :hover {
                background-color: #c9c9c9;
            }
            .title3 {
                position: relative;
                line-height: 100%;
                opacity: 0.86;
                text-decoration: none;
            }


.hero-image {
                width: 100%;
                position: relative;
                height: 325px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 160px 24px;
                box-sizing: border-box;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                font-size: 35px;
                font-weight: bold;
                color: #000;
                font-family: Inter;
}

.gallery {
    margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3d9e3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    padding: 80px;
    max-width: 100%;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 325px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 160px;
    height: 160px;
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
  }
  
  .card-content {
    padding: 15px;
    text-align: left;
  }
  
  .card-content h3 {
    margin: 0 0 10px;
    margin-left: 175px;
    font-size: 27px;
    font-style: italic;
    font-weight: 700;
    font-family: "inter";
    text-align: center;
    padding-top: 60px;
  }
  
  .card-content p {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 100;
    font-family: "inter";
    color: #555;
    margin-left: 8px;
  }

  .card-content .norm {
    padding-top: 80px
  }

  .card-content .tab {
    padding-top: 48px
  }
  
  .card-content a {
    font-size: 15px;
    text-decoration: none;
    color: #555;
    font-style: italic;
    margin-left: 190px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card-content a:hover {
    text-decoration: underline;
  }

.footer {
    width: 100%;
    position: relative;
    background-color: #1e1e1e;
    border-top: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 351px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 32px 32px 160px;
    gap: 16px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: "Inter";
}

        .button-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            z-index: 0;
        }

            .socialmedia-icon {
                width: 24px;
                position: relative;
                height: 24px;
                overflow: hidden;
                flex-shrink: 0;
            }


.mentions {
    width: 320px;
    margin: 0 !important;
    position: absolute;
    top: 35px;
    left: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    z-index: 1;
}

        .mentions-tittle {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0px 0px 16px;
            font-weight: bold;
        }

            .text-strong {
                position: relative;
                font-size: 18px;
                line-height: 140%;
                font-family: "Inter";
                color: #fff;
                text-align: left;
                font-weight: bold;
            }

        .list {
            width: 400px;
            position: relative;
            height: 22px;
        }

        .list-item {
            width: 201px;
            position: relative;
            font-size: 16px;
            line-height: 140%;
            font-family: Inter;
            color: #fff;
            text-align: left;
            display: inline-block;
        }

        .list :hover {
            color: rgba(244, 219, 92, 0.5)
        }

.decouverte {
    width: 122px;
    margin: 0 !important;
    position: absolute;
    top: 35px;
    left: 585px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    z-index: 2;
}

.contact {
    width: 282px;
    margin: 0 !important;
    position: absolute;
    top: 35px;
    left: 791px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    z-index: 3;
}

@media (max-width: 426px) {

    .header {
  height: 180px;
}
.navigation-pill-list {
  flex-direction: column;
  padding-top: 110px;
}
  
    .logo-icon {
        height: 60px;
    }

    .hero-image {
        width: 100%;
        height: 550px;
        display: block;
    }

     .footer {
        height: 900px;
    }

    .mentions {
        width: 220px;
        margin: 0 !important;
        position: absolute;
        top: 70px;
        left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        z-index: 1;
        font-weight: bold;
    }
    
    
    .decouverte {
        width: 122px;
        margin: 0 !important;
        position: absolute;
        top: 350px;
        left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        z-index: 2;
        font-weight: bold;
    
    }
    .contact {
        width: 282px;
        margin: 0 !important;
        position: absolute;
        top: 600px;
        left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        z-index: 3;
        font-weight: bold;
    
    }
}
